site_name: Viktor Antosik
site_url: https://mydomain.org/mysite



theme:

  logo: assets/logo.png
  name: material

  language: fr


  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference


  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - navigation.indexes 

plugins:

  - search
  - tags : 
     tags_file: tags.md 



nav : 
- Accueil: index.md
- Projets :  
  - projets/index.md 
  - projet 1 : projets/projets 1.md
  - projet 2 : projets/projets 2.md
- Tags: tags.md 



extra:
  generator: false


copyright: Copyright &copy; 2024 Viktor Antosik